body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.error {
    color: white;
    background-color: red;
}

.alert .popover pre {
    font-size: 10px;
}

/* start Grid */
.grid {
  height: 600px;
}
/* end Grid */

.well {
    background-color: #ffffff;
}